
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<style>
    .error{
        color:brown;
    }
</style>
<div class="container ">

<h1></h1>
  <div class="panel panel-default">
    <div class="panel-heading">Create New Password</div>
      <div class="panel-body">
          <div class="alert hidden " id="alert"></div>
          {{#if error}}
              <div class="alert alert-danger">{{error}}</div>
          {{else}}
              <form id="resetPassword" class="login-form" action="/resetPassword/{{ user.passwordToken }}" method="post">
                  <h3 class="form-title">Create New Password</h3>
                  <div class="form-group">
                      <label class="control-label visible-ie8 visible-ie9">New Password</label>
                      <div class="input-icon">
                          <i class="fa fa-lock"></i>
                          <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                                 placeholder="New Password" name="newPassword" id="newPassword" /></div>
                  </div>
                  <div class="form-group">
                      <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
                      <div class="input-icon">
                          <i class="fa fa-lock"></i>
                          <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                                 placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" /></div>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn-primary btn-sm">Save</button>
                  </div>
              </form>
          {{/if}}
      </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.addMethod("regex", function(value, element, regex) {
            return regex.test(value);
        }, "Password should contain at least one letter, one number, one special character and should not less than eight character.");

        $('#resetPassword').validate({
            ignore:'',
            rules: {
                newPassword: {
                    required: true,
                    regex: /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/
                },
                confirmPassword: {
                    required: true,
                    equalTo: '#newPassword'
                }
            },
            messages:{
                newPassword: {
                    required: 'Please enter new password.',
                    regex: 'Password should contain at least one letter, one number, one special character and should not less than eight character.'
                },
                confirmPassword: {
                    required: 'Please enter confirm password.',
                    equalTo: 'Confirm password does not matched with new password.'
                }
            },
            submitHandler: function() {
                $.ajax({
                    data: JSON.stringify({
                        newPassword: $('input[name=newPassword]').val(),
                        confirmPassword: $('input[name=confirmPassword]').val()
                    }),
                    type:'POST',
                    contentType:'application/json',
                    success: function (response) {
                        $('#alert').html(response.message).addClass(' alert-success').removeClass('hidden').removeClass('alert-danger');
                    },
                    error: function (err) {
                        if( err.hasOwnProperty('responseJSON') ){
                            const response = err.responseJSON;
                            $('#alert').html(response.message).addClass(' alert-danger').removeClass('hidden').removeClass('alert-success');
                        } else {
                            $('#alert').html(err.message).addClass(' alert-danger').removeClass('hidden').removeClass('alert-success');
                        }
                    }
                });
                return false;
            }
        });
    })
</script>