<div class="container ">

<h1></h1>
  <div class="panel panel-default">
    <div class="panel-heading">{{headingText}}</div>
    {{#if isValid}}
    <div class="panel-body alert-danger">{{bodyText}}</div>
    {{else}}
     <div class="panel-body alert-success">{{bodyText}}</div>
    {{/if}}
  </div>
</div>